<div class="banner mb-5 d-flex align-items-center text-center text-white"
     style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
            url(<%= asset_path(image) %>);">
  <div class="container">
    <h1 class="fw-bold"><%= title %></h1>
    <p class="lead"><%= text %></p>
  </div>
</div>
