// banner.scss

.banner {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  height: 50vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  h1 {
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  }

  p {
    opacity: 0.9;
  }

  .btn:hover {
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
  }
}
