.btn-primary {
  background-color: #ff4757;
  border-color: #ff4757;
}

.btn-primary:hover {
  background-color: #e84142;
  border-color: #e84142;
}

.btn-outline-primary {
  border-color: #ff4757;
  color: white;
}

.btn-outline-primary:hover {
  background-color: rgb(83, 83, 83);
  border-color: #e84142;
}

